@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-light-900: #f2f2fc;
    --bg-light-100: #fdf9ff;
    --bg-light-50:  #e8dfec;

    --bg-dark-900: #302e4d;
    --bg-dark-700: #504e70;
}

 body
 {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins' sans-serif;

 }
 *
 {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
 }
::before,::after
{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.section
{
    background: var(--bg-light-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}
/* Aside */
.aside
{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right:1px solid var(--bg-light-50) ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a
{
    color: var(--bg-dark-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;

}
.aside .logo a span
{
    font-family: 'Clicker Script',cursive;
    font-family: 40px;

}
.aside .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color) ;
    border-left: 5px solid var(--skin-color) ;
    bottom: 0;
    left: 0;
}
.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color) ;
    border-right: 5px solid var(--skin-color) ;
    top: 0;
    right: 0;
}
.aside .nav
{
    margin-top: 50px;
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom:1px solid var(--bg-light-50) ;
    color: var(--bg-dark-900);
    padding: 5px 15px;
}